/* CSS Document */

#lists {
	display:inline-block;
	float:left;
	width:100%;
	height:auto;
	margin:20px 0px 0px 0px;
}

#lists .list_button {
	display:inline-block;
	float:left;
	width:100%;
	height:auto;
	font-family:'Arial';
	margin:0px 0px 10px 0px;
}

#lists .list_button .list_button_title {
	display:inline-block;
	float:left;
	width:70%;
	height:auto;
	padding:15px 2% 15px 2%;
	line-height:30px;
	color:#F4f4f4;
}

#lists .list_button .list_button_qr {
	display:inline-block;
	float:right;
	width:12.5%;
	text-align:center;
	height:auto;
	padding:15px 0px 15px 0px;
	margin-left:1px;
	line-height:30px;
	color:#F4f4f4;
}

#list {
	display:inline-block;
	float:left;
	width:auto;
	height:auto;
	margin:20px 0px 20px 0px;
	position:relative;
	left:50%;
	transform:translateX(-50%);
}

#list table {
	border-collapse: collapse;
}

#list table thead {
	background-color:#999;
	border:none;
	border-collapse: collapse;
}

#list table tr:nth-child(even) {
	background-color:#ccc;
}

#list table tr td,
#list table thead td {
	border:none;
	border-collapse: collapse;
	padding:5px 5px;
	white-space: nowrap;
}